<div class="container-fluid py-4">
    <% if (messages.success) { %>
        <div class="alert alert-success text-xxs text-white" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
        <div class="alert alert-danger text-xxs text-white" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="card mb-4">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h5>DATA PENGAJUAN CUTI</h5>
                </div>
                <div class="col-lg-6 col-sm-6 text-end">
                    <a href="add-pengajuan-cuti" class="btn text-2xl px-3 py-1 bg-gradient-info">
                        +
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-3">
            <table class="table border">
                <thead>
                    <tr>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Tanggal Mulai</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Tanggal Berakhir</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Jumlah Hari</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Keterangan</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Status Approval</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data.length) { %>
                    <% for(var i = 0; i< data.length; i++) { %>
                    <tr>
                        <td class="text-center text-xs p-3 border"> <%= data[i].tgl_mulai.toUTCString().slice(0,16) %> </td>
                        <td class="text-center text-xs p-3 border"> <%= data[i].tgl_selesai.toUTCString().slice(0,16) %> </td>
                        <td class="text-center text-xs p-3 border"> <%= data[i].jumlah_hari %> </td>
                        <td class="text-center text-xs p-3 border"> <%= data[i].ket.toUpperCase() %> </td>
                        <% if(data[i].status == 1){ %>
                            <td class="text-center text-warning text-xs p-3 border"> Not Verified </td>
                        <% }else if(data[i].status == 2){ %>
                            <td class="text-center text-success text-xs p-3 border"> Approved </td>
                        <% }else if(data[i].status == 3){ %>
                            <td class="text-center text-danger text-xs p-3 border"> Not Approved </td>                         
                        <% } %>     
                        <td class="text-center text-xs p-3 border">
                            <% if(data[i].status == 1){ %>
                            <a href="edit-pengajuan-cuti/<%= data[i].id_cuti_pegawai %>" class="px-2 py-2 m-1 text-white shadow-lg rounded bg-warning">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-6 h-6 mb-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                </svg> Update
                            </a>
                            <a href="delete-pengajuan-cuti/<%= data[i].id_cuti_pegawai %>" class="px-2 py-2 m-1 text-white shadow-lg rounded bg-danger">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 mb-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg> Delete
                            </a>
                            <% }else{ %>
                            <a href="#" class="px-2 py-2 m-1 text-white shadow-lg rounded bg-warning opacity-7">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-6 h-6 mb-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                </svg> Update
                            </a>
                            <a href="#" class="px-2 py-2 m-1 text-white shadow-lg rounded bg-danger opacity-7">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 mb-1">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg> Delete
                            </a>
                            <% } %>     
                        </td>                    
                    </tr>
                    <% } %>
                    <% }else if(!data.length){ %>
                        <tr>
                            <td class="text-center text-xs" colspan="6">No Data Found!</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        </div>
    </div>