<div class="container-fluid">
    <% if (messages.success) { %>
    <div class="alert alert-success text-xxs mt-4 text-white" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger text-xxs mt-4 text-white" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="card pt-4 pb-5 px-4 my-4">
        <form role="form" action="/form-add-pegawai" method="post">
            <a href="/data-pegawai" class="bg-info px-2 py-2  rounded shadow-md text-white text-xs"> 
                <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-2 h-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                </svg> Back
            </a>
            <h6 class="mb-4 text-center">ADD DATA PEGAWAI</h6>
            <hr class="horizontal dark mt-0">
            <div class="mb-3">
                <label for="nik">NIK</label>
                <input type="text" class="form-control" id="nik" name="nik" required>
            </div>
            <div class="mb-3">
                <label for="nama">Nama Pegawai</label>
                <input type="text" class="form-control" id="nama" name="nama" required>
            </div>
            <div class="mb-3">
                <label for="tgl_lahir">Tanggal Lahir</label>
                <input type="date" class="form-control" id="tgl_lahir" name="tgl_lahir" required>
            </div>
            <div class="mb-3">
                <label for="no_hp">No.HP</label>
                <input type="number" class="form-control" name="no_hp" required>
            </div>
            <div class="mb-3">
                <label for="no_kontrak">No.Kontrak</label>
                <input type="text" class="form-control" name="no_kontrak" required>
            </div>
            <div class="mb-3">
                <label for="status">status</label>
                <select name="status" id="status" class="form-control">
                    <% if(status.length) { for(var i = 0; i< status.length; i++) { %>
                    <option value="<%= status[i].id_status %>"><%= status[i].status.toUpperCase() %></option>
                    <% }}else if(!status.length) { %>
                    <option value="">--</option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="divsi">Divisi</label>
                <select name="divisi" id="divisi" class="form-control">
                    <% if(divisi.length) { for(var i = 0; i< divisi.length; i++) { %>
                    <option value="<%= divisi[i].id_divisi %>"><%= divisi[i].divisi.toUpperCase() %></option>
                    <% }}else if(!divisi.length) { %>
                    <option value="">--</option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="jabatan">Jabatan</label>
                <select name="jabatan" id="jabatan" class="form-control">
                    <% if(jabatan.length) { for(var i = 0; i< jabatan.length; i++) { %>
                    <option value="<%= jabatan[i].id_jabatan %>"><%= jabatan[i].jabatan.toUpperCase() %></option>
                    <% }}else if(!jabatan.length) { %>
                    <option value="">--</option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="pendidikan">Pendidikan</label>
                <select name="pendidikan" class="form-control" id="pendidikan" required>
                    <option value="0">--</option>
                    <option value="sma/sederajat">SMA/SMK Sederajat</option>
                    <option value="diploma">Diploma</option>
                    <option value="s1">S1</option>
                    <option value="s2">S2</option>
                    <option value="s3">S3</option>
                    <option value="lainnya">Lainnya</option>
                </select>
            </div>          
             <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" required>
            </div>
            <div class="mb-3">
                <label for="email_kantor">Email Kantor</label>
                <input type="email" class="form-control" name="email_kantor">
            </div>
            <div class="mb-3">
                <label for="alamat">Alamat</label>
                <textarea name="alamat" id="alamat" class="form-control" cols="30" rows="3" required></textarea>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Add Pegawai</button>
            <button type="reset" class="btn btn-info mx-4"> Reset Data</button>
        </form>
    </div>
</div>