<div class="container-fluid py-4 h-screen">
    <% if (messages.success) { %>
    <div class="alert alert-success text-xxs text-white" role="alert"><%- messages.success %></div>
    <% } %>

    <% if (messages.error) { %>
    <div class="alert alert-danger text-xxs text-white" role="alert"><%- messages.error %></div>
    <% } %>
    <div class="col-lg-12 ms-3 d-flex align-items-center">
        <p class="text-2xl text-bold text-dark">DATA PEGAWAI</p>
    </div>

    <div class="card mb-4">
        <div class="card-header pb-0">
            <div class="row">
                <div class="col-lg-8 col-sm-6 d-flex align-items-center">
                    <a href="add-pegawai" class="btn text-2xl px-3 py-1 bg-info text-white">
                        +
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="ms-sm-auto pe-sm-3 py-sm-3 d-flex align-items-center">
                        <form action="/search-pegawai" method="post" class="d-flex gap-3 align-items-center">
                            <div class="input-group">
                                <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="search-pegawai" name="search_pegawai" placeholder="Type here...">
                            </div>
                            <button type="submit" name="submit" class="btn btn-dark my-auto text-xxs">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive px-3 py-2">
            <table class="table border mb-4">
                <thead>
                    <tr>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">No</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">NIK</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Nama Pegawai</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Divisi</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Jabatan</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Status</th>
                        <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data.length) { %>
                    <% for(var i = 0; i< data.length; i++) { %>
                    <tr>
                    <td class="text-center text-xs p-3 border"> <%= (i+1) %> </td>
                    <td class="data-pegawai text-center text-xs p-3 border"> <%= data[i].nik%> </td>
                    <td class="data-pegawai text-xs p-3 border"> <%= data[i].nama.toUpperCase() %> </td>
                    <td class="data-pegawai text-center text-xs p-3 border"> <%= data[i].divisi.toUpperCase() %> </td>
                    <td class="data-pegawai text-center text-xs p-3 border"> <%= data[i].jabatan.toUpperCase() %> </td>
                    <td class="data-pegawai text-center text-xs p-3 border"> <%= data[i].status.toUpperCase() %> </td>
                    <td class="data-pegawai text-center text-xxs px-3 d-flex gap-2 align-items-center border">
                        <a href="edit-pegawai/<%= data[i].id_user %>" class="px-3 py-2 text-white shadow-lg rounded bg-warning">
                            Update
                        </a>
                        <a href="detail-pegawai/<%= data[i].id_user %>" class="px-3 py-2 text-white shadow-lg rounded bg-info">
                            Details  
                        </a>
                        <a href="/daily-activity/<%= data[i].id_user%>" class="px-3 py-2 text-white shadow-lg rounded bg-primary">
                            Activity
                        </a>
                        <a href="/reset/<%= data[i].id_user%>" class="px-3 py-2 text-white shadow-lg rounded bg-danger">
                            Reset Password
                        </a>
                    </td>
                    </tr>
                    <% } %>
                    <% } else if(!data.length) { %>
                        <tr>
                            <td class="text-center text-xs" colspan="7">No Data Found!</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        </div>
    </div>